/*purple rgb(156, 89, 209);
        yellow rgb(252, 244, 52);
        */
* {
  box-sizing: border-box;
}
body {
  margin: auto;
  max-width: 1024px;
  background-color: rgba(255, 255, 255, 0.568);
  background-blend-mode: lighten;
  background-image: url("../images/passion.webp");
}
header {
  background-color: rgb(156, 89, 209);
  color: black;
}
#mainBody {
  height: auto;
  background-color: tomato;
  display: flex;
}
footer {
  background-color: blueviolet;
  padding: 15px;
  clear: both;
}
main {
  float: left;
  width: 80%;
  background-color: chocolate;
}
aside {
  float: right;
  width: 200 px;
  background-color: darkseagreen;
}
main,
aside {
  border: 2px solid black;
}
#rowOne {
  background-color: tan;
  padding: 15px;
}
#rowTwo {
  background-color: thistle;
  display: flex;
}
article {
  width: 50%;
  float: left;
  background-color: aliceblue;
  border: 2px solid black;
}
#img1 {
  display: block;
  margin: auto;
  width: 80%;
}
header {
  position: sticky;
  top: 0;
  width: 100%;
  margin: 0;
}
nav ul {
  list-style-type: none;
  display: flex;
  padding: 0;
  margin: 0;
  background-color: black;
}
nav ul li a {
  text-decoration: none;
  color: white;
  border: 2px solid rgb(252, 244, 52);
  padding: 15px;
  display: block;
  margin: 2px;
  background-color: black;
  border-radius: 5px;
}

nav ul li a:hover {
  background-color: gray;
}
#firstnava {
  border-radius: 20px 5px 5px 20px;
}
#lastnava {
  border-radius: 5px 20px 20px 5px;
}
